<!DOCTYPE html>
<html>
<head>
  <title>Illumevents</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag 'favico.jpg' %>
  <%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?key=#{ENV["google_maps_api_key"]}&libraries=places" %>
  <script type="text/javascript">
     window.googleMapsKey = '<%= ENV["google_maps_api_key"] %>'
  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  
</head>
<body>

<%= yield %>

</body>
</html>
